<nav class="navbar navbar-light navbar-expand">
    <div class="container-fluid">
        <div class="navbar-brand py-0 d-flex align-items-center">
            <img class="logo" src="{projectRoot}content/pictures/logo.png" alt="Logo" />
            <a class="title" href="{projectRoot}">Coltivare la memoria</a>
        </div>
        <ul class="navbar-nav ms-auto me-2">
            <li class="nav-item" data-page="home">
                <a href="{projectRoot}" class="nav-link">Home</a>
            </li>
            <li class="nav-item" data-page="biografie">
                <a href="{projectRoot}biografie/" class="nav-link">Biografie</a>
            </li>
            <li class="nav-item" data-page="gisuti">
                <a href="{projectRoot}giusti-fra-le-nazioni/" class="nav-link">Giusti fra le Nazioni</a>
            </li>
            <li class="nav-item" data-page="giardino">
                <a href="{projectRoot}giardino-virtuale/" class="nav-link">Giardino virtuale</a>
            </li>
        </ul>
        <a class="cta btn btn-primary fw-bolder" href="{projectRoot}biografie/">Sfoglia le biografie <i class="bi bi-arrow-right"></i></a>
    </div>
</nav>